@use '../../../Utilities/variables.scss';

.register__main{
    background-image: linear-gradient(to bottom,rgba(255, 104, 99,0.6),rgba(255, 255, 255,1));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding:20px 0;
    
    @media (max-width: variables.$sm) {
        overflow: hidden;
        padding:0;
    }
    

    .register__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding:60px 20px;   
        overflow: hidden!important;
        width:30%;
        border-radius: 20px;
        box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.5);

        @media (max-width: variables.$sm) {
            width: 100vw;
            height: 100vh;
            border-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1{
            color:#FF6863;
            margin-bottom: 40px;
        }

        .register__card__link{
            font-size: 14px;
            margin-top: 20px;
            color:#FF6863;
        }

    }
}
